@font-face
{

font-family:GothamL;
src:url('fonts/Gotham-Light.otf');


}

@font-face
{

font-family:GothamB;
src:url('fonts/Gotham-Book.otf');


}

body{
	background: #313031;
}

#wrapper{
	margin: auto;
	width: 505px;

}
#content{
	margin-top:35%; 
}

#content h1{
	font-size: 60px;
	font-family: GothamB;
	text-align: center;
	color: #c6c6c6;
	margin-bottom: 0px;
	font-weight: normal;
}

#content h3{
	font-size: 25px;
	font-family: GothamL;
	text-align: center;
	color:#858484;
	margin:0;
	margin-top: 20px;
	font-weight: normal;


}

#icons img{
	width: 40px;


}
#icons {
	margin-left: 145px;
	margin-top: 20px;
}

#wrapper p{
	font-family: GothamB;
	font-size: 12px;
	color:#858484;
	text-align: center;
	margin-top: 20px;
}

#wrapper p a{
	text-decoration:none;
	color:#858484;

}


#wrapper p a:hover{
	text-decoration:none;
	color:#c6c6c6;

}

#em:hover{
	opacity: 0.5;

}

#in:hover{
	opacity: 0.5;
}

#beh:hover{
	opacity: 0.5;
}


#em:hover{
	opacity:0.5;
}

#git:hover{
	opacity: 0.5;
}
#twit:hover{
	opacity: 0.5; 
}




